.roadmapSelect {
    position: absolute;
    width: 558;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top: -125px;
    margin-left: -350px;
    padding-left: 200px;
}

.linkStyle{
    font-size: 25px;
}