.homePage{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    background: url('../assets/homepage2.jpeg');
    background-repeat: no-repeat;
    background-repeat:repeat-x; 
    background-repeat:repeat-y; 
    background-position: center center;
    background-size: cover;  
}

.selectARole {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 50%;
    top: 50%;
    margin-top: -200px;
    margin-left: -175px;
}
  .transparent-box{
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: white;
    border-radius: 10px;
  }

  .interfaceDescription {
    font-family: "微软雅黑";
    position: relative;
    color: black;
    font-size: 28px;
  }

  .cbStyle{
      position: relative;
      width: 250px;
      height: 50px;
  }
    .circleCb {
      width: 28px;
      height: 28px;
      position: relative;
      float: left;
      background: #fcfff4;
      background: -moz-linear-gradient(top, #f4fff5 0%, #dfe5d7 40%, #b3bead 100%);
      background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    }
    .circleCb label {
      width: 20px;
      height: 20px;
      cursor:url('../assets/cursor-click.jpeg');
      position: absolute;
      left: 4px;
      top: 4px;
      background: -moz-linear-gradient(top, #222222 0%, #45484d 100%);
      background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
      background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
      -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
      box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px white;
    }
    .circleCb label:after {
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 2px;
      left: 2px;
      background: #49f149; 
      /* 00bf00 */
      background: -moz-linear-gradient(top, #49f149 0%, #49f149 100%);
      background: -webkit-linear-gradient(top, #49f149 0%, #49f149 100%);
      background: linear-gradient(to bottom, #49f149 0%, #49f149 100%);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -moz-border-radius: 50px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      -moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
    }
    .circleCb label:hover::after {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
      opacity: 0.3;
      cursor:url('../assets/cursor-click.jpeg'), default;
    }
    .circleCb input[type=checkbox] {
      visibility: hidden;
    }
    .circleCb input[type=checkbox]:checked + label:after {
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
    }
  .cbText{
      float: left;
      text-align: center;
      font-family: "微软雅黑";
      font-size: 19px;
      padding-left: 20px;
      height: 28px;
      color: black;
      font-weight: 600;
      cursor:url('../assets/cursor-defalut.jpeg'), default;     
  }
